# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Datos

!data/raw/.gitkeep
!data/processed/.gitkeep
!data/features/.gitkeep

# Modelos entrenados
models/*
!models/.gitkeep

# Resultados

!results/figures/.gitkeep
!results/metrics/.gitkeep
!results/reports/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
